<%include ../partials/header%>
<div class="container" style="align:center">
	<h4>Issues list of <%=products.name%></h4>
</div>

<div class="container">
	<%products.issue.forEach(function(issues){%>
		<div id="a" class="content <%=issues.state%>">
			<div class="title">
				<h6><%=issues.title%></h6>
			</div>
			<hr>
			<div class="description">
				<h6><%=issues.description%></h6>
			</div>
			<div class="content-footer">
				<div class="content-footer-actions">
					<button class="ui basic mini black button"><a href="/products/<%=products._id%>/issues/<%=issues._id%>/edit" style="color: black;">Edit</a></button>
					<form action="/products/<%=products._id%>/issues/<%=issues._id%>?_method=DELETE" method="POST">
						<button class="ui basic mini black button">Delete</button>
					</form>
				</div>
				<div class="content-footer-actions">
					<button class="ui basic mini black button">More Info</button>
				</div>
			</div>
		</div>
	<%});%>
</div>

<div class="container">
	<div class="form-group forms">
		<form method="POST" action="/products/<%=products._id%>/issues">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Title of issue" name="issues[title]">
			</div>
			<div class="form-group">
				<textarea class="form-control" name="issues[description]"></textarea>
			</div>
			<div class="form-group">
				<select class="form-control" name="issues[state]" >
			      <option>Acknowledged</option>
			      <option>Unsolved</option>
			      <option>Solved</option>
			    </select>
			</div>
			<div class="buttons">
				<button class="btn btn-primary">Submit</button>
				<button name="issues[export]" value="export" class="btn btn-primary">Export</button>
			</div>
		</form>
	</div>
</div>


<%include ../partials/footer%>
