<%include ../partials/header %>
	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h3> Product List</h3>
				<a class="btn btn-primary btn-md" href="/products/new">Create New Product</a>
			</div>
		</div>
		<%categories.forEach(function(category){%>
			<div class="produst_list">
				<div class="product_list_inside">
				<p><%=category.name%></p>
				<hr>
				<div class="row" style="display:flex; flex-wrap:wrap; flex-basis: 25%; flex-grow: 1;">
					<%products.forEach(function(product){%>
						<%if(product.type === category.name){%>
							<div class="card" style="width: 15%;">
								<a href="/products/<%=product._id%>/issues">
								<div class="card-block">
									<h4 class="card-title"><%=product.name%></h4>
									<h6 class="card-subtitle mb-2 text-muted"><%=product.type%></h6>
									<p class="card-text"><%=product.description%></p>
								</div>
							</div></a>
						<%}%>
				    <%});%>
				</div>
			</div>
		</div>
		<%});%>
	</div>
<%include ../partials/footer %>